<launch>

  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

  <!-- Start demo -->
  <node name="marker" launch-prefix="$(arg launch_prefix)" pkg="fetch_project_moveit_config"
	type="marker" output="screen">
  </node>

</launch>
