<launch>

 <!-- Run the main MoveIt executable -->
 <arg name="debug" default="false" />
 <arg name="pipeline" default="$(optenv PLANNING_PIPELINE ompl)" />
 <include file="$(find fetch_project_moveit_config)/launch/move_group.launch">
   <arg name="allow_active_sensing" default="true"/>
   <arg name="debug" value="$(arg debug)"/>
   <arg name="pipeline" value="$(arg pipeline)" />
 </include>

 <!-- Start Cone Marker -->
 <include file="$(find fetch_project_moveit_config)/launch/cone_marker.launch" />

 <!-- Start Ocotomap Mapping  -->
 <include file="$(find octomap_server)/launch/octomap_mapping.launch" />

 <!-- Start rviz with custom rviz config file  -->
 <node type="rviz" name="rviz" pkg="rviz" args="-d $(find fetch_project_moveit_config)/rviz/default.rviz" />

  <!-- Start Convex Hull, Plane Fitting, GUI, Waypoint Generator, and Move Group Interface nodes -->
 <!-- <node pkg="fetch_disinfectant_project_moveit_config" type="convex_hull.py"        name="convex_hull"        output="screen"/>
 <node pkg="fetch_disinfectant_project_moveit_config" type="plane_fitting.py"      name="plane_fitting"      output="screen"/> -->

</launch>
